border-radius(valor)
	-webkit-border-radius valor
	-moz-border-radius valor
	-ms-border-radius valor
	-o-border-radius valor
	border-radius valor

transition(valor, tiempo)
	-webkit-transition valor tiempo
	-moz-transition valor tiempo
	-ms-transition valor tiempo
	-o-transition valor tiempo
	transition valor tiempo

*
	box-sizing border-box

html
body
	width 100%
	margin 0
	padding 0
	font-size Verdana

h2.encabezado
	font-family Tahoma

p
	a
		text-decoration none
		font-size 30px
		&:hover
			color blue
		&:link
			color red

div
	border-radius 50px
	transition all 1s


