include cabecera.pug
	body
		h1 
			|Titulo de la pagina
		article.contenedor
			header
				img(src="img/logo.jpg",alt="Logo de la empresa")

				nav.menu
					ul
						li
							a(href="http://www.google.com",target="_blank") Home