doctype html
html
	head
		link(href="estilos.css", rel="stylesheet")
	body
		h1 Titulo
		div.contenedor Texto del contenedor
		ul
			li
				a(href="http://google.com")
			li
				a(href="http://microsoft.com",target='_blank') Microsoft
		p
			span Parrafo